
  body {
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: auto; /* Push the footer to the bottom */
  }


/* index.html */
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }

    .btn-outline-light:hover {
      color: #343a40;
      background-color: #ffffff; 
      border-color: #ffffff; 
    }

    .testimonial-card .card-up {
      height: 120px;
      overflow: hidden;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
    .testimonial-card .avatar {
      width: 110px;
      margin-top: -60px;
      overflow: hidden;
      border: 3px solid #fff;
      border-radius: 50%;
    }



  /* base  */

  

/* Instructors Page */

.card-img-top {
    height: 500px; /* Adjust the height as needed */
    object-fit:cover;
  }