
  body {
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
  }

  footer {
    margin-top: auto; /* Push the footer to the bottom */
  }


/* index.html */
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }

    .btn-outline-light:hover {
      color: #343a40;
      background-color: #ffffff; 
      border-color: #ffffff; 
    }


  /* base  */

  

/* Instructors Page */

.card-img-top {
    height: 500px; /* Adjust the height as needed */
    object-fit:cover;
  }