{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 400px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }

    .btn-outline-light:hover {
      color: #343a40;
      background-color: #ffffff; 
      border-color: #ffffff; 
    }
  </style>
  
  </style>


  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image"
    style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Transform Your Body with FlexGym</h1>
          <h5 class="mb-4">
            Achieve Your Fitness Goals with Our Expert Instructors
          </h5>
          <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A"
            role="button" rel="nofollow" target="_blank">Explore Classes</a>
          <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/"
            target="_blank" role="button">Join Now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
{% endblock %}