{% extends 'core/base.html' %}


{% block title %}Welcome{% endblock %}

{% block content %}
{% load static %}



<div class="container">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://basebangkok.com/app/uploads/2018/11/Tommy--1024x1024.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Coach 1</h5>
          <p class="card text">Yoga instructor passionate about holistic well-being and balance.</p>

        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://basebangkok.com/app/uploads/2018/11/Tommy--1024x1024.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Coach 1</h5>
          <p class="card text">Yoga instructor passionate about holistic well-being and balance.</p>

        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://basebangkok.com/app/uploads/2018/11/Tommy--1024x1024.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Coach 1</h5>
          <p class="card text">Yoga instructor passionate about holistic well-being and balance.</p>

        </div> 
      </div>
    </div>
  </div>
</div>







<!-- 
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/professional-gym-instructor-24614594.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">John Miller</h5>
          <p class="card-text">Yoga instructor passionate about holistic well-being and balance.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/professional-gym-instructor-24614594.jpg" class="card-img-top img-fluid" alt="...">

        <div class="card-body">
          <h5 class="card-title">Emma Smith</h5>
          <p class="card-text">Strength and conditioning coach helping clients build muscle and endurance.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/professional-gym-instructor-24614594.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nancy Davis</h5>
          <p class="card-text">Certified yoga instructor with a focus on mindfulness and flexibility training.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/professional-gym-instructor-24614594.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Robert Taylor</h5>
          <p class="card-text">High-energy cardio expert offering dynamic and fun workout sessions.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/professional-gym-instructor-24614594.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Samantha Turner</h5>
          <p class="card-text">Specialized nutritionist guiding clients on personalized meal plans for optimal fitness</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://thumbs.dreamstime.com/b/professional-gym-instructor-24614594.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">James Johnson</h5>
          <p class="card-text">Personal trainer dedicated to helping clients achieve their fitness goals.</p>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

{% endblock %}