{% extends 'core/base.html' %}


{% block title %}Welcome{% endblock %}

{% block content %}
{% load static %}



<div class="container">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://basebangkok.com/app/uploads/2018/11/Tommy--1024x1024.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Coach 1</h5>
          <p class="card text">Yoga instructor passionate about holistic well-being and balance.</p>

        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://basebangkok.com/app/uploads/2018/11/Tommy--1024x1024.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Coach 1</h5>
          <p class="card text">Yoga instructor passionate about holistic well-being and balance.</p>

        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="https://basebangkok.com/app/uploads/2018/11/Tommy--1024x1024.jpeg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Coach 1</h5>
          <p class="card text">Yoga instructor passionate about holistic well-being and balance.</p>

        </div> 
      </div>
    </div>
  </div>
</div>







{% endblock %}