{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4"><strong>Add User to Class - {{ user.username }}</strong></h2>

    <form method="post" class="mt-3">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="class_choice">Select Class:</label>
            <select name="class_choice" id="class_choice" class="form-control">
                {% for gym_class in gym_classes %}
                    <option value="{{ gym_class.class_id }}">{{ gym_class.class_name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Add to Class</button>
    </form>
</div>
{% endblock %}
