
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Classes Joined - {{ user.username }}</h2>

    {% if gym_classes %}
        <ul class="list-group">
            {% for gym_class in gym_classes %}
                <li class="list-group-item">
                    <strong>Class name:</strong> {{ gym_class.class_name }}<br>
                    <strong>Room Number:</strong> {{ gym_class.room_number }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info" role="alert">
            No Classes Joined
        </div>
    {% endif %}
</div>
{% endblock %}