{% extends 'base.html' %}


{% block title %}Welcome{% endblock %}

{% block content %}
{% load static %}



<div class="container mt-5 mb-5">
  <div class="row g-3">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="{% static 'images/coach2.jpg'%}" alt="" class="card-img-top instructors-img">
        <div class="card-body">
          <h5 class="card-title">John Mitchell</h5>
          <p class="card text">John is a certified personal trainer specializing in strength and conditioning. With a background in competitive weightlifting, he focuses on helping clients achieve their fitness goals through tailored workout plans.</p>

        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="{% static 'images/coach3.jpg'%}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Marcus Rodriguez</h5>
          <p class="card text">Marcus is a seasoned yoga instructor with a passion for mindfulness and flexibility. His classes emphasize the mind-body connection, guiding students through poses and meditation to promote overall well-being.</p>

        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="{% static 'images/coach4.jpg'%}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Natalie Rodriguez</h5>
          <p class="card text">Natalie is a skilled Pilates instructor with a focus on core strength and flexibility. Her classes blend traditional Pilates exercises with contemporary techniques, providing a holistic approach to fitness and well-being.</p>
        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="{% static 'images/coach5.jpg'%}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Emily Harris
          </h5>
          <p class="card text">Emily is a certified personal trainer and group fitness instructor. Specializing in HIIT workouts, she creates dynamic and challenging sessions that cater to various fitness levels, fostering a sense of community among participants.</p>
        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="{% static 'images/coach6.jpg'%}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Brian Foster</h5>
          <p class="card text">Brian is a charismatic spin class instructor known for his high-energy workouts. With a background in competitive cycling, he brings enthusiasm and motivation to every class, inspiring participants to push their limits.</p>
        </div> 
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card">
        <img src="{% static 'images/coach1.jpg'%}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">David Turner</h5>
          <p class="card text">David is a skilled nutrition coach dedicated to helping clients achieve optimal health through personalized diet plans. With a focus on sustainable lifestyle changes, he empowers individuals to make informed choices for long-term wellness.</p>
        </div> 
      </div>
    </div>
  </div>
</div>







{% endblock %}