{% extends 'base.html' %}
{% block content %}
    <h2>Staff Area</h2>
    <button id="showUsersBtn">Show Users</button>

    <div id="userList" style="display: none;">
        <h3>All Users</h3>
        <ul>
            {% for user in users %}
            <li>
                <strong>Username:</strong> {{ user.username }}<br>
                <strong>Email:</strong> {{ user.email }}<br>
                <strong>Registration Date:</strong> {{ user.date_joined|date:"F d, Y" }}<br>
                <a href="{% url 'delete_user' user.id %}">Delete</a><br>
                <a href="{% url 'edit_membership' user.id %}"> Edit Membership </a><br>
                <a href="{% url 'user_classes' user.id %}" > Classes Joined </a><br>
                <a href="{% url 'add_user_to_class' user.id %}" > Add to a Class</a>
            </li>
            {% endfor %}
        </ul>
    </div>
        
    <div>



    </div>

    <script>
        document.getElementById('showUsersBtn').addEventListener('click', function () {
            document.getElementById('userList').style.display = (userList.style.display === 'none') ? 'block' : 'none';
        });
    </script>
{% endblock %}