{% extends 'base.html' %}
{% block content %}
    <h2>Staff Area</h2>
    <button id="showUsersBtn">Show Users</button>

    <div id="userList" style="display: none;">
        <h3>All Users</h3>
        <ul>
            {% for user in users %}
            <li>
                <strong>Username:</strong> {{ user.username }}<br>
                <strong>Email:</strong> {{ user.email }}<br>
                <strong>Registration Date:</strong> {{ user.date_joined|date:"F d, Y" }}<br>
                
                {% if user.instructorprofile %}
                    <strong> User Type:</strong> Instructor <br>
                {% else %}
                    <strong>User Type:</strong> Member <br>
                {% endif %}
                <button onclick="return confirm('Are you sure you want to delete this user?')">
                    <a href="{% url 'delete_user' user.id %}">Delete</a><br>
                </button>
                <a href="{% url 'edit_membership' user.id %}"> Edit Membership </a><br>
                <a href="{% url 'user_classes' user.id %}" > Classes Joined </a><br>
                <a href="{% url 'add_user_to_class' user.id %}" > Add to a Class</a>

                <div>
                    <a href="{%url 'edit_user' user.id %}">
                        <button> Edit User </button>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>



    <div>
        <button id="showClassesBtn" > Show Classes </button>
            <ul id="classList" style="display: none;">
                <h3> All Classes </h3>
                {% for gym_class in gym_classes %}
                <li>
                    <strong>{{gym_class.class_name}}</strong>
                    <a href="{% url 'edit_class' gym_class.class_id %}"> 
                        <button>Edit Class</button>
                    </a>
                    {% comment %} data-class-id to associate each "Show Users" button with a specific gym class  {% endcomment %}
                    <button class="showUsersBtn" data-class-id="{{ gym_class.class_id}}">Show Users</button>
                    <ul class="showUserList" style="display: none;">
                        {% comment %} iterate over the users in the class then displays them {% endcomment %}
                        {% for user_in_class in gym_class.users.all %}
                            <li>{{ user_in_class.username}}</li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor%}
            </ul>
    </div>

    <div>
        <button id="showInstructorBtn"> Show Instructors </button>
        <ul id="instructorList" style="display: none;">
            <h3> All Instructors </h3>
            {% for instructor in instructor_profile %}
                <li>
                    <strong>{{ instructor.display_name }} </strong>
                    <button>
                        <a href="{% url 'edit_instructor' instructor.id %}">Edit Profile</a>
                    </button>
                    <form method="post" action="{% url 'delete_instructor' instructor.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this instructor profile?')">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div> 


  
   
  <div>
        <a href="{% url 'create_instructor_profile' %}">
            <button>Create New Instructor Profile </button>
        </a>
    </div>


    <div>
        <a href="{% url 'create_user_profile' %}">
            <button>Create New User Profile </button>
        </a>
    </div>


    <div>
        <a href="{% url 'create_gym_class' %}">
            <button>Create New Class </button>
        </a>
    </div>

   
    <script>
        document.getElementById('showUsersBtn').addEventListener('click', function () {
            document.getElementById('userList').style.display = (userList.style.display === 'none') ? 'block' : 'none';
        });

        document.getElementById('showClassesBtn').addEventListener('click', function () {
            var classList = document.getElementById('classList');
            classList.style.display = (classList.style.display === 'none' ) ? 'block' : 'none';
        });


        {% comment %}  line 1 : selects the element with this id and adds a clicl event listener to the button and when the button is clicked it adds the function inside the {} will be excuted  
        line 2: then it selects the element with the id instructorlist and assigns it to the instructorList variable it repsents the ul element
        line3 :t hen it gets the current value of the display css property of the instructorList 
        then checks if the current 'display property is 'none' 
        then it checks with a ternary operator if the dispay is true ('none') it sets the style to block, otherwise it sets it to 'none'
        {% endcomment %}
        document.getElementById('showInstructorBtn').addEventListener('click', function (){
            var instructorList = document.getElementById('instructorList');
            instructorList.style.display = (instructorList.style.display === 'none') ? 'block' :'none';
            
        })


    {% comment %} selects all the elements with the class 'showUsersBtn' and then stores it in the classButtons variable {% endcomment %}
    var classButtons = document.querySelectorAll('.showUsersBtn');

    {% comment %} iterates thru each classButtons {% endcomment %}
    {% comment %} then attaches a click event listener to each button {% endcomment %}
    {% comment %} 'button.nextElementSibling;' means when the user clicks the show users btn it will refer to the element under it  {% endcomment %}
    {% comment %} then it checks if the classlist style display is none it will change it to block to show the users and if the statement is false it will keep the none{% endcomment %}
    classButtons.forEach(function (button) {
        button.addEventListener('click', function () {

            var classUserList = button.nextElementSibling;

            classUserList.style.display = (classUserList.style.display === 'none') ? 'block' : 'none';
        });
    });

    </script>
{% endblock %}